
.wallet-balance-wrapper {
    border: 1px solid grey;
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px #000000;
    position: absolute;
    margin: 5rem;
    z-index: 50;
    top: 65vh;
    left: 69vw;
  }


.maximized .wallet-balance-wrapper {
    border: 1px solid grey;
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px #000000;
    position: absolute;
    margin: 5rem;
    z-index: 50;
    top: 75vh;
    left: 78vw;
}
