@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
/* Basic styling */
html {box-sizing: border-box;}
html, body {height: 100%; margin: 0;}

* {
  font-family: 'Readex Pro', sans-serif;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #2d2d2d;
  color: #FFF;
  overflow-y: hidden;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255,255,255,0.4);
}

/* Styling of window frame and titlebar */
body {
  border: 1px solid #3b3b3b;
}

ul {
  list-style-type: none;
}

#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#titlebar {
  padding: 4px;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#titlebar {
  color: #FFF;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

.maximized #window-title {
  margin-left: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.maximized #window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin-right: 0rem;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin-right: 0.4rem;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}


















.titlebar-img {
  width: 28px;
  height: auto;
  margin-right: 0.5rem;
}

.wrapper {
  position: relative;
  width: 100%;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  overflow-y: auto;
  padding-top: 15%;
  padding-bottom: 20%;
  padding-left: 20%;
  padding-right: 20%;
}

.form__field {
  text-align: center;
  font-family: inherit;
  width: 25%;
  border: 0;
  border-bottom: 3px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border 0.3s;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.form__field:focus {
  padding-bottom: 7px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #d61044, #b510d6);
  border-image-slice: 1;
}

.btn {
  border: none;
  background-color: #bc0233;
  color: white;
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 20px;
  display: inline-block;
  outline: none;
  position: relative;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #d61044;
  border-radius: 10px;
}

.search-wrapper {
  text-align: center;
}

#search-output {
  font-size: 22px;
}

#toggle {
  position: fixed;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#toggle::before {
  content: '';
  position: absolute;
  top: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
}

#toggle::after {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
}

.header-relative-div {
  position: fixed;
  left: 1rem;
  top: 2.5rem;
  width: 80%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 1000;
}

.navslide {
  position: fixed;
  width: 20%;
  left: -20%;
  height: calc(100% - 31px);
  margin-top: 31px;
  top: 0px;
  background-color: #1b1b1b;
  z-index: 999 !important;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.navslide ul li {
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
}

.header-relative-div.active + #toggle {
  -webkit-transform: translateX(25%);
      -ms-transform: translateX(25%);
          transform: translateX(25%);
}

.header-relative-div.active + #sec {
  -webkit-transform: translateX(25%);
      -ms-transform: translateX(25%);
          transform: translateX(25%);
}

.header-relative-div.active ~ .navslide {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.header-relative-div.active {
  -webkit-transform: translateX(25%);
      -ms-transform: translateX(25%);
          transform: translateX(25%);
}

.header-relative-div.active #toggle::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header-relative-div.active #toggle::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.navslide-li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.4s ease;
  font-size: 1.8rem !important;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
}

.navslide-li.color {
  background: linear-gradient(to right, #d61044, #b510d6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navslide-li:hover > span {
  color: #ffffff;
  background: inherit;
  background-clip: inherit;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: inherit;
}

.navslide-ul-container {
  padding-left: 0.5rem;
}

.app {
  background: inherit;
  transition: all 0.4s ease;
}

.active ~ .app::before {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.25);
  width: 100%;
  height: 100%;
  margin-top: 31px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);*/
  overflow: hidden;
}